<?xml version="1.0" standalone="yes"?>
<root>
	<_20cm_50_3rd_Year_Turret>
		<BaseModel value ="20cm_50_3rd_Year_Turret.mesh"/>
		<BaseMaterial value ="20cm_50_3rd_Year_Turret_Material"/>
		<AllowSubMeshes value ="False"/>
		<SubMeshes value =""/>
		<SubMeshesMaterials value =""/>
		<AudioFile value =""/>
		<ScriptFile value =""/>
		<EquipDirectory value ="NULL"/>
		<PortDirectory value ="NULL"/>
		<ParticleDirectory value ="..\particles\20cm503rdYear.MFParticle"/>
	</_20cm_50_3rd_Year_Turret>
</root>