<?xml version="1.0" standalone="yes"?>
<root>
	<Fletcher>
		<BaseModel value ="FletcherHull.mesh"/>
		<BaseMaterial value ="TestMat"/>
		<AllowSubMeshes value ="True"/>
		<CombineMeshes value ="true"/>
		<SubMeshes value ="FletcherDeck.mesh,FletcherRigging.mesh"/>
		<SubMeshesMaterials value ="TestMat2,TestMat3"/>
		<AudioFile value =""/>
		<ScriptFile value =""/>
		<EquipDirectory value ="NULL"/>
		<PortDirectory value ="..\ports\Fletcher.port"/>
		<HitLocation value ="..\HitLocations\Fletcher.MFHL"/>
	</Fletcher>
</root>