<?xml version="1.0" standalone="yes"?>
<root>
	<FletcherMainTurret>
		<BaseModel value ="5Inch38CalMk12Turret.mesh"/>
		<BaseMaterial value ="5Inch38CalMk12Material"/>
		<AllowSubMeshes value ="False"/>
		<SubMeshes value ="5Inch38CalMk12Barrel.mesh"/>
		<SubMeshesMaterials value ="TestMat"/>
		<AudioFile value =""/>
		<ScriptFile value =""/>
		<EquipDirectory value ="NULL"/>
		<PortDirectory value ="NULL"/>
		<ParticleDirectory value ="..\particles\5inch-38Cal-Mk.12.MFParticle"/>
	</FletcherMainTurret>
</root>