<?xml version="1.0" standalone="yes"?>
<root>
	<Fubuki>
		<BaseModel value ="FubukiHull.mesh"/>
		<BaseMaterial value ="FubukiMat1"/>
		<AllowSubMeshes value ="true"/>
		<CombineMeshes value ="true"/>
		<SubMeshes value ="FubukiHull2.mesh,FubukiHull3.mesh,FubukiHull4.mesh"/>
		<SubMeshesMaterials value ="FubukiMat2,FubukiMat3,FubukiWires"/>
		<AudioFile value =""/>
		<ScriptFile value =""/>
		<EquipDirectory value ="NULL"/>
		<PortDirectory value ="..\ports\Fubuki.port"/>
		<HitLocation value ="..\HitLocations\Fubuki.MFHL"/>
	</Fubuki>
</root>