<?xml version="1.0" standalone="yes"?>
<root>
	<Mogami>
		<BaseModel value =""/>
		<BaseMaterial value =""/>
		<AllowSubMeshes value ="true"/>
		<CombineMeshes value ="true"/>
		<SubMeshes value ="*..\data\Mogami\mesh"/>
		<SubMeshesMaterials value ="..\data\Mogami\mesh\MaterialLinking.txt"/>
		<AudioFile value =""/>
		<ScriptFile value =""/>
		<EquipDirectory value ="..\ports\Mogami.equip"/>
		<PortDirectory value ="..\ports\Mogami.port"/>
		<HitLocation value ="..\HitLocations\MogamiHitboxes.MFHL"/>
		<ParticleDirectory value ="..\particles\Fletcher.MFParticle"/>
	</Mogami>
</root>