<?xml version="1.0" standalone="yes"?>
<root>
	<TestUnit>
		<BaseModel value ="FuelModelTest.mesh"/>
		<BaseMaterial value ="genericGrey"/>
		<AllowSubMeshes value ="false"/>
		<CombineMeshes value ="false"/>
		<SubMeshes value =""/>
		<SubMeshesMaterials value =""/>
		<AudioFile value =""/>
		<ScriptFile value =""/>
		<EquipDirectory value ="NULL"/>
		<PortDirectory value ="NULL"/>
		<HitLocation value ="NULL"/>
	</TestUnit>
</root>