<?xml version="1.0" standalone="yes"?>
<root>
	<TestUnit>
		<BaseModel value ="Hospital_V1.mesh"/>
		<BaseMaterial value ="Hospital_V1"/>
		<AllowSubMeshes value ="False"/>
		<SubMeshes value ="TestUnit2.mesh,TestUnit3.mesh"/>
		<SubMeshesMaterials value ="TestMat2,TestMat3"/>
		<AudioFile value =""/>
		<ScriptFile value =""/>
		<EquipDirectory value ="..\ports\TestUnit.equip"/>
		<PortDirectory value ="..\ports\TestUnit.port"/>
	</TestUnit>
</root>