<?xml version="1.0" standalone="yes"?>
<root>
	<TestProbe>
		<BaseModel value ="TestTurret.mesh"/>
		<BaseMaterial value ="TestTurretMat"/>
		<AllowSubMeshes value ="False"/>
		<SubMeshes value =""/>
		<SubMeshesMaterials value =""/>
		<AudioFile value =""/>
		<ScriptFile value =""/>
		<EquipDirectory value ="NULL"/>
		<PortDirectory value ="NULL"/>
	</TestProbe>
</root>