<?xml version="1.0" standalone="yes"?>
<root>
	<TestTurret>
		<BaseModel value ="TestUnit.mesh"/>
		<BaseMaterial value ="TestMat"/>
		<AllowSubMeshes value ="False"/>
		<SubMeshes value ="..\config\TestProbe.config"/>
		<SubMeshesMaterials value =""/>
		<AudioFile value =""/>
		<ScriptFile value =""/>
		<EquipDirectory value ="NULL"/>
		<PortDirectory value ="NULL"/>
	</TestTurret>
</root>