<?xml version="1.0" standalone="yes"?>
<root>
	<Type_3_127_mm_50_Turret>
		<BaseModel value ="FubukiTextures.009.mesh"/>
		<BaseMaterial value ="Type3_127mm_50Caliber_Naval_Gun"/>
		<AllowSubMeshes value ="False"/>
		<SubMeshes value ="FubukiTextures.mesh"/>
		<SubMeshesMaterials value ="Type3_127mm_50Caliber_Naval_Gun_Detailing"/>
		<AudioFile value =""/>
		<ScriptFile value =""/>
		<EquipDirectory value ="NULL"/>
		<PortDirectory value ="NULL"/>
		<ParticleDirectory value ="..\particles\5inch-38Cal-Mk.12.MFParticle"/>
	</Type_3_127_mm_50_Turret>
</root>